# ZDU0110xxx GPIO configuration options

# Copyright (c) 2020 Gavin Hurlbut
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_ZDU0110XXX
	bool "ZDU0110xxx GPIO driver"
	depends on GPIO
	depends on UART_ZDU0110XXX_GPIO
	help
	  Enable GPIO driver for ZDU0110xxx.

	  The ZDU0110xxx is a family of I2C connected UARTs.

	  The GPIO port of the ZDU0110xxx (varying sizes depending
	  variant) is exposed as a GPIO controller driver with 
	  read/write support.  Interrupts are supported only on
	  GPIO0 and GPIO1.

config  GPIO_ZDU0110XXX_INTERRUPT
	bool "ZDU0110xxx GPIO Interrupt support"
	depends on GPIO_ZDU0110XXX
	help
	  Enable the use of the GPIO interrupt.  Interrupts are 
	  generated on changes on only GPIO0 and GPIO1.

config GPIO_ZDU0110XXX_INIT_PRIORITY
	int "Driver init priority"
	default 99
	depends on GPIO_ZDU0110XXX
	help
	  Device driver initialization priority. This driver must be
	  initialized after the ZDU0110XXX UART driver.
