/*
 * Copyright (c) 2020 Gavin Hurlbut
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <atmel/samd11.dtsi>

/ {
	model = "Beirdo's Battery Joule Thief v1";
	compatible = "beirdo,battery_joule_thief_v1", "atmel,samd11c14a", "atmel,samd11";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	aliases {
		i2c-0 = &sercom1;
		led0 = &led1ag;
	};

	leds {
		compatible = "gpio-leds";
		
		led1ag: led_1ag {
			gpios = <&ioexp0 9 GPIO_ACTIVE_LOW>;
			label = "LED 1a Green";
		};

		led_1ar {
			gpios = <&ioexp0 8 GPIO_ACTIVE_LOW>;
			label = "LED 1a Red";
		};

		led_1bg {
			gpios = <&ioexp0 11 GPIO_ACTIVE_LOW>;
			label = "LED 1b Green";
		};

		led_1br {
			gpios = <&ioexp0 10 GPIO_ACTIVE_LOW>;
			label = "LED 1b Red";
		};

	
		led_2ag {
			gpios = <&ioexp1 9 GPIO_ACTIVE_LOW>;
			label = "LED 2a Green";
		};

		led_2ar {
			gpios = <&ioexp1 8 GPIO_ACTIVE_LOW>;
			label = "LED 2a Red";
		};

		led_2bg {
			gpios = <&ioexp1 11 GPIO_ACTIVE_LOW>;
			label = "LED 2b Green";
		};

		led_2br {
			gpios = <&ioexp1 10 GPIO_ACTIVE_LOW>;
			label = "LED 2b Red";
		};


		led_3ag {
			gpios = <&ioexp2 9 GPIO_ACTIVE_LOW>;
			label = "LED 3a Green";
		};

		led_3ar {
			gpios = <&ioexp2 8 GPIO_ACTIVE_LOW>;
			label = "LED 3a Red";
		};

		led_3bg {
			gpios = <&ioexp2 11 GPIO_ACTIVE_LOW>;
			label = "LED 3b Green";
		};

		led_3br {
			gpios = <&ioexp2 10 GPIO_ACTIVE_LOW>;
			label = "LED 3b Red";
		};

		
		led_4ag {
			gpios = <&ioexp3 9 GPIO_ACTIVE_LOW>;
			label = "LED 4a Green";
		};

		led_4ar {
			gpios = <&ioexp3 8 GPIO_ACTIVE_LOW>;
			label = "LED 4a Red";
		};

		led_4bg {
			gpios = <&ioexp3 11 GPIO_ACTIVE_LOW>;
			label = "LED 4b Green";
		};

		led_4br {
			gpios = <&ioexp3 10 GPIO_ACTIVE_LOW>;
			label = "LED 4b Red";
		};

		
		led_5ag {
			gpios = <&ioexp4 9 GPIO_ACTIVE_LOW>;
			label = "LED 5a Green";
		};

		led_5ar {
			gpios = <&ioexp4 8 GPIO_ACTIVE_LOW>;
			label = "LED 5a Red";
		};

		led_5bg {
			gpios = <&ioexp4 11 GPIO_ACTIVE_LOW>;
			label = "LED 5b Green";
		};

		led_5br {
			gpios = <&ioexp4 10 GPIO_ACTIVE_LOW>;
			label = "LED 5b Red";
		};


		led_og {
			gpios = <&ioexp6 7 GPIO_ACTIVE_LOW>;
			label = "LED Out Green";
		};

		led_or {
			gpios = <&ioexp6 6 GPIO_ACTIVE_LOW>;
			label = "LED Out Red";
		};

	};

	buttons {
		compatible = "gpio-keys";
		
		button_up {
			gpios = <&ioexp5 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "UP";
		};

		button_left {
			gpios = <&ioexp5 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "LEFT";
		};

		button_right {
			gpios = <&ioexp5 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "RIGHT";
		};

		button_down {
			gpios = <&ioexp5 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "DOWN";
		};

		button_enter {
			gpios = <&ioexp5 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "ENTER";
		};

		button_esc {
			gpios = <&ioexp5 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "ESC";
		};

	};
};

&cpu0 {
	clock-frequency = <48000000>;
};

&tcc0 {
	status = "okay";
	compatible = "atmel,sam0-tcc-pwm";
	/* Gives a maximum period of 1.4s */
	prescaler = <4>;
	#pwm-cells = <1>;
};

&sercom1 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	clock-frequency = <I2C_BITRATE_FAST>;
	#address-cells = <1>;
	#size-cells = <0>;
	
	ioexp0: mcp23017@20 {
		status = "okay";
		compatible = "microchip,mcp23017";
		label = "U1";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-gpios = <&ioexp5 0 GPIO_ACTIVE_LOW>;
		ngpios = <16>;
	};

	ioexp1: mcp23017@21 {
		status = "okay";
		compatible = "microchip,mcp23017";
		label = "U7";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-gpios = <&ioexp5 1 GPIO_ACTIVE_LOW>;
		ngpios = <16>;
	};

	ioexp2: mcp23017@22 {
		status = "okay";
		compatible = "microchip,mcp23017";
		label = "U14";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-gpios = <&ioexp5 2 GPIO_ACTIVE_LOW>;
		ngpios = <16>;
	};

	ioexp3: mcp23017@23 {
		status = "okay";
		compatible = "microchip,mcp23017";
		label = "U21";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-gpios = <&ioexp5 3 GPIO_ACTIVE_LOW>;
		ngpios = <16>;
	};

	ioexp4: mcp23017@24 {
		status = "okay";
		compatible = "microchip,mcp23017";
		label = "U29";
		reg = <0x24>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-gpios = <&ioexp5 4 GPIO_ACTIVE_LOW>;
		ngpios = <16>;
	};

	ioexp5: mcp23017@25 {
		status = "okay";
		compatible = "microchip,mcp23017";
		label = "U37";
		reg = <0x25>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-gpios = <&porta 2 GPIO_ACTIVE_LOW>;
		ngpios = <16>;
	};

	ioexp6: pcf8574@26 {
		status = "okay";
		compatible = "ti,pcf8574";
		label = "U43";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-gpios = <&ioexp5 5 GPIO_ACTIVE_LOW>;
		ngpios = <8>;
	};

	zdu0110: zdu0110rfx@5f {
		status = "okay";
		compatible = "zilog,zdu0110rfx";
		label = "U38";
		reg = <0x5f>;
		interrupt-gpios = <&ioexp5 7 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		uart0: uart@0 {
			status = "okay";
			compatible = "zilog,zdu0110rfx_port";
			label = "U38_UART0";
			port-number = <0>;
			current-speed = < 57600 >;
			reg = <0>;
		};
		
		eeprom@8 {
			status = "okay";
			compatible = "zilog,zdu0110xxx_eeprom";
			label = "U38_EEPROM";
			reg = <8>;
		};
		
		gpio@9 {
			status = "okay";
			compatible = "zilog,zdu0110rfx_gpio";
			label = "U38_GPIO";
			interrupt-gpios = <&ioexp5 6 GPIO_ACTIVE_LOW>;
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <3>;
			reg = <9>;
		};
	};
	
	adc0: mcp3428@69 {
		status = "okay";
		label = "U6";
		compatible = "microchip,mcp3428";
		#io-channel-cells = <1>;
		reg = <0x69>;
	};
	
	adc1: mcp3428@6a {
		status = "okay";
		label = "U13";
		compatible = "microchip,mcp3428";
		#io-channel-cells = <1>;
		reg = <0x6a>;
	};
	
	adc2: mcp3428@6b {
		status = "okay";
		label = "U20";
		compatible = "microchip,mcp3428";
		#io-channel-cells = <1>;
		reg = <0x6b>;
	};
	
	adc3: mcp3428@6c {
		status = "okay";
		label = "U27";
		compatible = "microchip,mcp3428";
		#io-channel-cells = <1>;
		reg = <0x6c>;
	};
	
	adc4: mcp3428@6d {
		status = "okay";
		label = "U32";
		compatible = "microchip,mcp3428";
		#io-channel-cells = <1>;
		reg = <0x6d>;
	};
	
	adc_out: mcp3425@68 {
		status = "okay";
		label = "U49";
		compatible = "microchip,mcp3425";
		#io-channel-cells = <1>;
		reg = <0x68>;
	};
	
	display: ssd1306@3d {
		status = "okay";
		compatible = "solomon,ssd1306fb";
		reg = <0x3d>;
        label = "SSD1306";
	    width = <128>;
        height = <64>;
        segment-offset = <2>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
	};
	
};

