# Copyright (c) 2020 Gavin Hurlbut
# SPDX-License-Identifier: Apache-2.0
CONFIG_SOC_SERIES_SAMD11=y
CONFIG_SOC_PART_NUMBER_SAMD11C14A=y
CONFIG_BOARD_BEIRDO_BATTERY_JOULE_THIEF_V1=y
CONFIG_BUILD_OUTPUT_HEX=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_ZDU0110=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_GPIO=y
CONFIG_GPIO_SAM0=y
CONFIG_GPIO_MCP23017=y
GONFIG_GPIO_PCF8574=y
CONFIG_GPIO_ZDU0110XXX=y
CONFIG_EEPROM_ZDU0110XXX=y
CONFIG_WATCHDOG=y
CONFIG_WDT_SAM0=y
CONFIG_I2C=y
CONFIG_I2C_SAM0=y
CONFIG_PINMUX=y
CONFIG_PINMUX_SAM0=y
CONFIG_ADC_MCP342X=y
CONFIG_DISPLAY_SSD1306=y
