# PCA9685 PWM configuration options
#
#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

################################################
# PCA9685
################################################

menuconfig PWM_PCA9685
	bool "PCA9685 I2C-based PWM chip"
	depends on I2C
	help
	  Enable driver for PCA9685 I2C-based PWM chip.

if PWM_PCA9685

config PWM_PCA9685_INIT_PRIORITY
	int "Init priority"
	default 70
	help
	  Device driver initialization priority.

endif # PWM_PCA9685
